In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable # si nos da un error este comando es por no tenerlo instalado
from datetime import date, datetime
from scipy import stats
from sklearn.preprocessing import StandardScaler
pd.options.display.max_columns=None
# establecer el tamaño de nuestras figuras
plt.rcParams["figure.figsize"] = (10,8)

In [2]:
df = pd.read_csv("data/bikes_limpio.csv", index_col = 0)
df.head(2)

,registro,clima,temperatura,sens_termica,humedad,viento,ocasionales,registrados,total,fecha_nueva,festividad,festividad_1,año_bueno,estacion_correcta,mes_bueno,dia_semana_nuevo,no_laboral_nuevo
0,1,2,14.1,18.2,81.0,10.7,331,654,985,2018-01-01,New Year's Day,1,2018,invierno,1,0,0
1,2,2,14.9,17.7,70.0,16.7,131,670,801,2018-01-02,NaN,0,2018,invierno,1,1,1

In [4]:
df.drop(['ocasionales', 'registrados'], axis = 1, inplace= True)
df.columns

Index(['registro', 'clima', 'temperatura', 'sens_termica', 'humedad', 'viento',
       'total', 'fecha_nueva', 'festividad', 'festividad_1', 'año_bueno',
       'estacion_correcta', 'mes_bueno', 'dia_semana_nuevo',
       'no_laboral_nuevo'],
      dtype='object')

In [5]:
#codificamos la columna año_bueno.
año_map={2018:0,2019:1}
df['año_map']=df['año_bueno'].map(año_map)
df.drop(['año_bueno'],axis=1,inplace=True)
df.sample(5)

,registro,clima,temperatura,sens_termica,humedad,viento,total,fecha_nueva,festividad,festividad_1,estacion_correcta,mes_bueno,dia_semana_nuevo,no_laboral_nuevo,año_map
724,725,3,10.0,11.0,82.0,21.2,441,2019-12-26,NaN,0,invierno,12,3,1,1
492,493,2,23.8,27.9,69.0,19.8,5728,2019-05-08,NaN,0,primavera,5,2,1,1
517,518,1,23.9,28.3,55.0,12.5,8120,2019-06-02,NaN,0,primavera,6,6,0,1
180,181,1,28.6,31.9,43.0,12.4,5515,2018-06-30,NaN,0,verano,6,5,0,0
354,355,2,17.6,21.4,86.0,14.8,2660,2018-12-21,NaN,0,invierno,12,4,1,0

In [6]:
#Codificamos la columna estacion_correcta.
estacion_map={'invierno':0,'primavera':1,'otoño':2,'verano':3}
df['estacion_map']=df['estacion_correcta'].map(estacion_map)
df.drop(['estacion_correcta'],axis=1,inplace=True)
df.sample(5)

,registro,clima,temperatura,sens_termica,humedad,viento,total,fecha_nueva,festividad,festividad_1,mes_bueno,dia_semana_nuevo,no_laboral_nuevo,año_map,estacion_map
372,373,1,13.8,17.0,46.0,12.8,3425,2019-01-08,NaN,0,1,1,1,1,0
489,490,2,25.5,29.2,76.0,10.3,6883,2019-05-05,NaN,0,5,6,0,1,1
103,104,1,19.2,23.1,54.0,7.4,3267,2018-04-14,NaN,0,4,5,0,0,1
233,234,1,28.4,31.9,47.0,18.5,4758,2018-08-22,NaN,0,8,2,1,0,3
678,679,1,16.0,19.7,65.0,3.9,6536,2019-11-10,NaN,0,11,6,0,1,2

In [7]:
df.to_csv('data/totales_encod.csv')